<section style="margin-top: 60px">
    <div id="pharmacy-title" class=" text-center mb-1 pt-3">
        <h3><i class="fa-solid fa-mortar-pestle me-2"></i>كل الاستمارات</h3>
    </div>
    <div id="pharmacy-title" class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group text-end">
                    <select class="form-select text-end" id="inputGroupSelectp" (change)="getPatientBySelected($event)">
                        <option selected disabled>...اختر</option>
                        <option *ngFor="let patient of patientNames" [value]="patient">
                            {{ patient }}
                        </option>
                    </select>
                    <label class="input-group-text" for="inputGroupSelectp">عدد الاستمارات الحالي = {{
                        patientNames.length
                        }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="searchPatientValue" [ngbTypeahead]="searchPatient" (keyup.enter)="getPatient()" placeholder="إبحث بأسم المريض أو رقم القرار لإظهار البيانات" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group text-end">
                    <select class="form-select text-end" id="inputGroupSelectp" (change)="getSalesBySelected($event)">
                        <option selected disabled>...اختر</option>
                        <option *ngFor="let diagon of diagnosis" [value]="diagon">
                            {{ diagon }}
                        </option>
                    </select>
                    <label class="input-group-text" for="inputGroupSelectp">عدد التشخيصات الحالي = {{ diagnosis.length
                        }}</label>
                </div>
            </div>

            <div class="col-md-4">
                <input type="text" [(ngModel)]="searchDiagnosisValue" [ngbTypeahead]="searchDiagnosis" (keyup.enter)="getSaleForm()" placeholder="إبحث بأسم التشخيص لإظهار البيانات" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                />
            </div>
            <div class="col-md-4">
                <div class="date-search text-end">
                    <input type="date" class="form-control text-end mb-1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="dateFrom" />
                    <button (click)="getSalesFormByDay()" class="btn btn-outline-primary">
                        <i class="fa-solid fa-calendar-days me-2"></i>بحث بالتاريخ
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div *ngFor="let item of sales">
        <hr />

        <div class="hospital-desc text-end">
            <h3>المستشفي العام بإيتاي البارود</h3>
            <h3>صيدلية العلاج الأقتصادي/نفقة الدولة</h3>
        </div>
        <div class="row-parent">

            <div class="col-child mt-1">
                <div class="input-group mb-1 input-mine">
                    <input disabled type="text" [value]="item.saleForm.statusType" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                    <span class="input-group-text" id="inputGroup-sizing-default">الحالة</span>
                </div>
                <div class="input-group mb-1 input-mine">
                    <textarea disabled class="form-control" id="exampleFormControlTextarea1" [value]="item.saleForm.diagnosis" rows="3"></textarea>
                    <span class="input-group-text" id="inputGroup-sizing-default">التشخيص</span>
                </div>
            </div>
            <div class="col-child mt-1">
                <div class="input-group mb-1 input-mine">
                    <input disabled type="text" [value]="item.saleForm.createdDate | date: 'short'" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                    <span class="input-group-text" id="inputGroup-sizing-default">تاريخ التسجيل</span>
                </div>
                <div class="input-group mb-1 input-mine">
                    <input disabled type="text" [value]="item.saleForm.clinicName" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                    <span class="input-group-text" id="inputGroup-sizing-default">عيادة</span>
                </div>
                <div class="input-group mb-1 input-mine">
                    <input disabled type="number" [value]="item.saleForm.decisionNumber" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                    <span class="input-group-text" id="inputGroup-sizing-default">رقم القرار</span>
                </div>
                <div class="input-group mb-1 input-mine">
                    <span class="input-group-text">يوم</span>
                    <input disabled type="number" [value]="item.saleForm.decisionDuration" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                    <span class="input-group-text" id="inputGroup-sizing-default">مدة القرار</span>
                </div>
            </div>

            <div class="col-child mt-1">
                <div class="input-group mb-1 input-mine">
                    <input disabled type="text" [value]="item.saleForm.patientName" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                    <span class="input-group-text" id="inputGroup-sizing-default">اسم المريض</span>
                </div>

                <div class="input-group mb-1 input-mine">
                    <input disabled type="number" [value]="item.saleForm.decisionAmount" class="form-control text-end" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                    <span class="input-group-text" id="inputGroup-sizing-default">مبلغ القرار</span>
                </div>
            </div>
        </div>
        <button id="pharmacy-title" class="btn btn-outline-primary ms-2" data-bs-toggle="modal" data-bs-target="#Modal-1_tuktuk" (click)="findAllBySaleFormSaleFormId(item.saleForm.saleFormId)">
            <i class="fa-solid fa-hospital-user me-2"></i>تعديل الاستمارة
        </button>
        <button id="pharmacy-title" class="btn btn-outline-danger ms-2" (click)="deleteAllBySaleFormSaleFormId(item.saleFormId)">
            <i class="fa-solid fa-hospital-user me-2"></i>حذف الاستمارة
        </button>
        <div class="table-responsive-sm" style="width: 70%; text-align: center; margin: 0 auto">
            <table class="table table-hover text-end mx-auto">
                <thead>
                    <tr>
                        <th scope="col">سعر البيع</th>
                        <th scope="col">سعر الشراء</th>
                        <th scope="col">الكميه</th>
                        <th scope="col">اسم الدواء</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productBill of item.formTimes; let i = index">
                        <td>{{ productBill.totalSellPrice }}</td>
                        <td>{{ productBill.totalBuyPrice }}</td>
                        <td>{{ productBill.amount }}</td>
                        <td>{{ productBill.treatmentName }}</td>
                        <td>{{ i + 1 }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="totalPrice text-end me-2">
                <h4>الاجمالي = {{ item.totalSellPrice }}</h4>
            </div>
        </div>
        <hr />
        <hr />
        <div class="modal fade" id="Modal-1_tuktuk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h5 class="modal-title ms-auto" id="staticBackdropLabel">
                            <i class="fa-solid fa-gear"></i>
                        </h5>
                    </div>
                    <div class="modal-body text-end">
                        <div class="text-center mb-3 mx-4">
                            <p *ngIf="message.length > 0" class="alert alert-success">
                                {{ message }}
                            </p>
                            <h4>{{ item.decisionAmount }} = المبلغ المستحق</h4>
                            <hr />
                            <!-- <h4>{{ item.totalSellPrice }} = المبلغ المصروف سابقا</h4>
              <hr /> -->
                        </div>
                        <div class="button-group text-center mx-auto text-end">
                            <div>
                                <div class="table-responsive-sm">
                                    <table class="table table-hover text-end mx-auto">
                                        <thead>
                                            <tr>
                                                <th scope="col">عمليات</th>
                                                <th scope="col">اجمالي الشراء</th>
                                                <th scope="col">اجمالي البيع</th>
                                                <th scope="col">سعر البيع</th>
                                                <th scope="col">سعر الشراء</th>
                                                <th scope="col">الكميه</th>
                                                <th scope="col">اسم الدواء</th>
                                                <th scope="col">#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let productBill of productsBill; let i = index">
                                                <td>
                                                    <button class="btn btn-outline-danger" type="button" (click)="deleteRow(i, productBill.ordersId)">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </td>

                                                <td (mousemove)="
                            getTotalSellPrice();
                            updateValueOld(productBill, item.decisionAmount)
                          ">
                                                    <input class="table-cell text-end form-control" [(ngModel)]="productBill.totalBuyPrice" type="number" name="{{ productBill.totalBuyPrice }}" />
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" [(ngModel)]="productBill.totalSellPrice" type="number" name="{{ productBill.totalSellPrice }}" />
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" [(ngModel)]="productBill.sellPrice" type="number" name="{{ productBill.sellPrice }}" />
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" [(ngModel)]="productBill.buyPrice" type="number" name="{{ productBill.buyPrice }}" />
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" placeholder="الكمية" (keyup)="
                              updateValueOld(productBill, item.decisionAmount);
                              updateAllValues();
                              checkTreatmentAmount(productBill.amount)
                            " [(ngModel)]="productBill.amount" type="text" name="{{ productBill.amount }}" />
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" placeholder="إسم الصنف" [(ngModel)]="productBill.treatmentName" type="text" name="{{ productBill.treatmentName }}" />
                                                </td>
                                                <td class="text-center" scope="col">{{ i + 1 }}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button class="btn btn-outline-primary" type="button" (click)="addRow(item.decisionAmount)">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" type="number" [(ngModel)]="newProductsBill.totalBuyPrice" name="totalBuyPrice" />
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" type="number" [(ngModel)]="newProductsBill.totalSellPrice" name="totalSellPrice" />
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" type="number" [(ngModel)]="newProductsBill.sellPrice" name="sellPrice" />
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" type="number" [(ngModel)]="newProductsBill.buyPrice" name="buyPrice" />
                                                </td>
                                                <td (mousemove)="getTotalSellPrice()">
                                                    <input class="table-cell text-end form-control" (keyup)="
                              updateValue(item.decisionAmount);
                              updateAllValues();
                              checkTreatmentAmount(newProductsBill.amount)
                            " type="number" [(ngModel)]="newProductsBill.amount" name="amount" />
                                                </td>
                                                <td>
                                                    <input class="table-cell text-end form-control" type="text" [ngbTypeahead]="search" (keyup)="getNewTreatment($event)" [(ngModel)]="newProductsBill.treatmentName" name="treatmentName" />
                                                </td>
                                                <td class="text-center mx-auto">...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="totalPrice text-end me-2">
                                        <h4>الاجمالي = {{ totalOrderPrice }}</h4>
                                    </div>
                                    <div class="text-center mx-auto" (mousemove)="getTotalSellPrice()">
                                        <button class="btn btn-outline-primary" (click)="
                        addBill(item.decisionAmount);
                        getTotalSellPrice()
                      ">
                                            <i class="fa-solid fa-file-invoice me-2"></i>تعديل
                                            الفاتورة
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark me-2"></i>اغلاق
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="page_break"></div>
    </div>
</section>