* {
    font-family: "Harmattan", sans-serif;
    user-select: none;
    z-index: 999;
}

nav ul li a {
    font-size: 22px;
    font-weight: bold;
}

nav ul li a.active {
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    color: #000;
}

@media print {
    nav {
        display: none;
    }
}